<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <a href="{{ site.baseurl }}/index.html">Home</a>
            <a href="{{ site.baseurl }}/projects.html">Projects</a>
            <a href="{{ site.baseurl }}/about.html">About</a>
            <a href="https://github.com/josea833" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
        <p class="footer-copy">&copy; {{ 'now' | date: "%Y" }} Jose E. All rights reserved.</p>
    </div>
</footer>
