<nav class="navbar">
    <div class="nav-earth">
        <div class="earth"></div>
        <div class="circleText" style="--total:12;">
            <span style="--angle:0;">E</span>
            <span style="--angle:1;">A</span>
            <span style="--angle:2;">R</span>
            <span style="--angle:3;">T</span>
            <span style="--angle:4;">H</span>
            <span style="--angle:5;">•</span>
            <span style="--angle:6;">E</span>
            <span style="--angle:7;">A</span>
            <span style="--angle:8;">R</span>
            <span style="--angle:9;">T</span>
            <span style="--angle:10;">H</span>
            <span style="--angle:11;">•</span>
        </div>
    </div>
    <div class="nav-container">
        <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/index.html" class="button">Home</a></li>
        <li><a href="{{ site.baseurl }}/projects.html" class="button">Projects</a></li>
        <li><a href="{{ site.baseurl }}/about.html" class="button">About</a></li>
        </ul>
    </div>

</nav>